# Ignore virtual environment files
*-env
*/__pycache__/*

# Ignore dataset files
data/
tmp/

# Not sure what these files are. Don't want them.
*.DS_store

# Ignore bash scripts
*.sh*

# Ignore backups
*~
