# Ignore poster
*poster*

# Ignore virtual environment files
*-env
*/__pycache__/*
gcloud-mlmi4-env/*

# Ignore dataset files
data/
*tmp*

# Not sure what these files are. Don't want them.
*.DS_store

# Ignore bash scripts
*.sh*

# Ignore backups
*~
gcloud*

geepee/

# Ignore output files.
*.out
